.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

package-lock.json
/tests/*
/docs
/package
/src
/build
/public
/example
.brwoserslistrc
.postcssrc.js
babel.config.js
jest.config.js
tsconfig.json
tslint.json
vue.config.js
